@font-face {
  font-family: "BPmono";
  src: url(../../assets/tff/BPmono.ttf);
  font-style: normal;
}
@font-face {
  font-family: "BPmono";
  src: url(../../assets/tff/BPmonoBold.ttf);
  font-style: bold;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(38, 38, 38);
  transition: background 0.15s;
}
.header:hover {
  background-color: #fff;
}
.header:hover .header__container a {
  color: black;
  text-decoration: underline;
}
.header .header__container {
  display: flex;
  align-items: center;
}
.header .header__container ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.header .header__container img {
  width: 50px;
  border-radius: 50px;
}
.header .header__container-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 10px;
}
.header .header__container a {
  text-decoration: none;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: rgb(203, 255, 15);
  color: black;
}
* .strong::selection {
  text-decoration-line: none;
}

body {
  background-color: rgb(38, 38, 38);
}
body main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body main .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .hero .linea {
  height: 2px;
  background-color: #fff;
  width: 94vw;
  justify-content: center;
}
body main .hero h1 {
  font-family: "BPmono";
  font-size: 23vw;
  text-align: center;
  color: white;
}
body main .hero img {
  width: 94vw;
  text-align: center;
}
body main .hero__container {
  display: flex;
  width: 94vw;
  padding: 60px 10px 60px 10px;
}
body main .hero__container p {
  color: white;
  font-size: 3vw;
  font-weight: bold;
}
body main .hero__container p strong {
  text-decoration-line: line-through;
  text-decoration-color: rgb(203, 255, 15);
}
body main .hero .tittle {
  display: flex;
  text-align: left;
  width: 94vw;
  margin-top: 100px;
  margin-bottom: 20px;
}
body main .hero .tittle__containter {
  display: flex;
  align-items: center;
}
body main .hero .tittle__containter-bigItems {
  font-size: 6.1vw;
  font-weight: bold;
}
body main .hero .tittle p {
  margin: 0;
  padding: 3px;
  color: white;
}
body main .hero .tittle2 {
  display: flex;
  text-align: left;
  width: 94vw;
}
body main .hero .tittle2__container {
  display: flex;
  align-items: center;
  margin: 0;
}
body main .hero .tittle2__container-bigItems {
  font-size: 6.1vw;
  font-weight: bold;
  color: white;
  margin: 0;
}
body main .hero .tittle2__container-bigItems strong {
  color: yellow;
}
body main .hero .infoHeadphones {
  display: flex;
  flex-direction: row;
  width: 94vw;
  margin-bottom: 100px;
}
body main .hero .infoHeadphones__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .hero .infoHeadphones__container-p {
  color: #fff;
  width: 300px;
  margin: 30px 350px 0 0;
  font-weight: bold;
}
body main .hero .infoHeadphones a img {
  width: 600px;
  margin: 0 auto;
}
body main .hero .infoHeadphones .infoHeadphones__container-button button {
  margin: 30px 0px;
  padding: 10px 60px;
  border: solid 2px white;
  background-color: rgb(38, 38, 38);
  color: white;
  font-weight: bold;
}
body main .heroBlanco {
  display: flex;
  background-color: #fff;
  text-align: left;
  flex-direction: column;
}
body main .heroBlanco .lineaNegra {
  height: 2px;
  background-color: #000;
  width: 94vw;
  justify-content: center;
}
body main .heroBlanco .tittleBlanco {
  display: flex;
  text-align: left;
  width: 94vw;
  margin-top: 100px;
}
body main .heroBlanco .tittleBlanco__containter {
  width: 94vw;
  display: flex;
  align-items: center;
  margin: 5px;
}
body main .heroBlanco .tittleBlanco p {
  padding: 3px;
}
body main .heroBlanco .headphonesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
body main .heroBlanco .headphonesGrid-item1 {
  width: 100%;
}
body main .heroBlanco .headphonesGrid-item2 {
  width: 100%;
}
body main .heroBlanco .headphonesGrid-item3 {
  width: 100%;
}
