@font-face {
  font-family: "BPmono";
  src: url(../../assets/tff/BPmono.ttf);
  font-style: normal;
}

@font-face {
  font-family: "BPmono";
  src: url(../../assets/tff/BPmonoBold.ttf);
  font-style: bold;
}